name: Sync Fork to Upstream
on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Push to Upstream (LeDuyNam005)
        run: |
          # Cấu hình git user để tránh cảnh báo
          git config --global user.name "Lynx_1ST"
          git config --global user.email "maihang122th@gmail.com"
          
          # Lệnh push quan trọng
          git push https://${{ secrets.MY_PAT }}@github.com/LeDuyNam005/36Tech-demo.git HEAD:Dao-Loc-branch
